.button {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 25px;
    transition: background-color 0.4s ease;
    color: cornflowerblue;
    border: cornflowerblue 2px solid;
    border-radius: 999px;
    outline: none;
    background-color: #fff;
}

.button:hover {
    cursor: pointer;
    color: white;
    background-color: cornflowerblue;
}

.button:disabled {
    cursor: not-allowed;
    color: #BBC1E1;
    border-color: #BBC1E1;
    background-color: #fff;
}

.button.green {

    color: white;
    border-color: #00b300;
    background-color: #00b300;
}

.button.green:hover {
    color: #00b300;
    border-color: #00b300;
    background-color: #fff;
}

.button.green:disabled {
    cursor: not-allowed;
    color: #8fb38f;
    border-color: #8fb38f;
    background-color: #fff;
}

.button.red {
    color: #ff4d4d;
    border-color: #ff4d4d;
}

.button.red:hover {
    color: white;
    background-color: #ff4d4d;
}

.button.red:disabled {
    cursor: not-allowed;
    color: #ffb3b3;
    border-color: #ffb3b3;
    background-color: #fff;
}